<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to Yelp Camp!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
            <a href="/campgrounds/new" class="btn btn-lg btn-primary">Add New Campgrounds</a>
        </p>
    </div>
</header>

<div class="row text-center">
    <% campgrounds.forEach(function(campground) { %>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img class="img-top img-fluid" src="<%= campground.image %>" alt="">
                <div class="card-body">
                    <h4 class="card-title"><%= campground.name %></h4>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">More Info</a>
                </div>
            </div>
        </div>  
    <% }); %>
</div>



<% include ../partials/footer %>